body {
  background-color: rgb(34, 45, 65);
}

.background {
  background-image: url('https://images.unsplash.com/photo-1580458072512-96ced1f43991?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: rgb(166, 171, 179);
  /* background-color: rgba(0, 0, 0, 0.5); */
  margin: 0;
}

.layer {
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  /* background-color: rgba(0, 0, 0, 0.5); */
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  /* margin-top: 200px; */
}

.chart-container {
  justify-content: center;
  align-items: center;
  height: 100;
  width: 100;
}

.chart-positive {
  background-color: rgba(51, 77, 99, 0.5);
  /* width: 200px;
  height: 200px; */
  margin: 100px;
  border-radius: 5px;
}

.chart-deaths {
  background-color: rgba(92, 130, 163, 0.5);
  /* width: 200px;
  height: 200px; */
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0px;
  border-radius: 5px;
}
