body {
  background-image: url('https://images.unsplash.com/photo-1580458072512-96ced1f43991?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: rgb(166, 171, 179);
  background: rgba(0, 0, 0, 0.5);
}
body::before {
  opacity: 0.8;
}
.container {
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 200px;
}

.chart-container {
  justify-content: center;
  align-items: center;
  height: 100;
  width: 100;
}
